*
!/.gitignore
!/README.md
!/LICENSE
!/AUTHORS.md
!/AUTHORS
!/*.py
!/tests
!/tests/*
!/tests/test_models/*
!/tests/test_models/test_engine/*
!/models
!/models/*
!/models/engine
!/models/engine/*
*main.py
